/* Map container */
#map {
    width: 100%; /* Promenjeno sa !important */
    height: 100%;
    border: 1px solid #443c2c;
    border-radius: 8px;
    overflow: hidden;
    position: relative; /* Važno za pravilno pozicioniranje Leaflet slojeva */
    /* background-color: #e0e0e0; /* Privremena boja za lakše otklanjanje grešaka */
}

/* Leaflet specific overrides to ensure map fills container */
.leaflet-container {
    background: transparent !important; /* Remove default leaflet background */
    width: 100%; /* Promenjeno sa !important */
    height: 100%;
}

/* Ensure image overlay fills the map container */
.leaflet-image-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Styling for custom marker icons */
.leaflet-marker-icon {
    border-radius: 50%; /* Make the icon circular */
    box-shadow: 0 0 15px rgba(218, 165, 32, 0.7); /* Golden glow effect */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for hover */
}

.leaflet-marker-icon:hover {
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.9); /* Brighter glow on hover */
} 